@rendermode RenderMode.InteractiveWebAssembly
@inject IStoryOverviewService StoryOverviewService

<div>
    <p>@_randomNumberMessage</p>

    <button class="btn btn-primary" @onclick="GenerateRandomNumber" disabled="@_isGenerating">
        Get Random Number
    </button>
</div>

@code {
    private string _randomNumberMessage = "Click the button to get a number from the server.";
    private bool _isGenerating;

    private async Task GenerateRandomNumber()
    {
        _isGenerating = true;
        int number = await StoryOverviewService.GetRandomNumber();
        _randomNumberMessage = $"Your random number is: {number}";
        _isGenerating = false;
    }
}