@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
@using TheCanalaveLibrary.Core.ServiceInterfaces
@inject IDeviceDetectionService DeviceService

<PageTitle>Home</PageTitle>

@if (_isMobile.HasValue)
{
    if (_isMobile.Value)
    {
        <h1>Hello, Mobile User!</h1>
        <p>This is the mobile view.</p>
    }
    else
    {
        <h1>Hello, Desktop User!</h1>
        <p>This is the desktop view.</p>
    }
}

@code {
    private bool? _isMobile;

    protected override void OnInitialized()
    {
        _isMobile = DeviceService.IsMobile();
    }
}