@page "/story/{StoryId:int}/{Slug?}"


@inject IDeviceDetectionService DeviceService
@inject IStoryReadService StoryReadService
@inject NavigationManager NavigationManager
@if (_isLoading)
{
    <PageTitle>Loading...</PageTitle>
    <p><em>Loading story...</em></p>
}
else if (_story is not null)
{
    <PageTitle>@_story.StoryTitle</PageTitle>

    @if (DeviceService.IsMobile())
    {
        <StoryMobile Story="_story" />
    }
    else
    {
        <StoryDesktop Story="_story" />
    }
}

@code {
    [Parameter]
    public int StoryId { get; set; }

    [Parameter]
    public string? Slug { get; set; }

    private StoryDetailsDTO? _story;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _story = await StoryReadService.GetStoryByIdAsync(StoryId);
        _isLoading = false;

        if (_story is null)
        {
            NavigationManager.NavigateTo("/not-found");
        }
    }
}