@using TheCanalaveLibrary.Core.Story
@if (Story is not null)
{
    <div class="story-mobile-container">
        <h2>@Story.StoryTitle</h2>
        <p class="author-mobile">Author: @Story.AuthorName</p>
        <p>@Story.ShortDescription</p>
        <hr />

        <RandomNumberGenerator />
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    public required StoryDetailsDTO? Story { get; set; }
}