<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["TheCanalaveLibrary.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<ReconnectModal/>
<script src="@Assets["_framework/blazor.web.js"]"></script>

<!-- Reference the device detection script from the SharedUI class library -->
<script src="_content/TheCanalaveLibrary.SharedUI/js/device.js"></script>

<script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
</body>

</html>