@namespace TheCanalaveLibrary.SharedUI
<h1>Hello, Mobile User!</h1>
<p>This is the dedicated mobile view of the home page.</p>

@* You can add mobile-specific components, like a swipeable carousel, here *@