@namespace TheCanalaveLibrary.SharedUI
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <!-- You can have a NavMenu here -->
    </div>

    <main>
        <div class="top-row px-4">
            <!-- DESKTOP TOP BAR CONTENT -->
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>