@namespace TheCanalaveLibrary.SharedUI
@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="bottom-nav">
        <!-- MOBILE BOTTOM BAR CONTENT / NAV MENU -->
        <span>Home</span> | <span>Search</span> | <span>Profile</span>
        <LoginDisplay />
    </div>
</div>