@rendermode RenderMode.InteractiveWebAssembly
@using TheCanalaveLibrary.Core.DTOs
@using TheCanalaveLibrary.Core.ServiceInterfaces
@inject IStoryOverviewService StoryOverviewService

@if (Story is not null)
{
    <div class="story-desktop-container">
        <h1>@Story.StoryTitle</h1>
        <p class="author">by @Story.AuthorName</p>
        <p>@Story.ShortDescription</p>
        <hr />

        <p>@_randomNumberMessage</p>

        <button class="btn btn-primary" @onclick="GenerateRandomNumber">
            Get Random Number
        </button>
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    public StoryDetailsDTO? Story { get; set; }

    private string _randomNumberMessage = "Click the button to get a number from the server.";

    private async Task GenerateRandomNumber()
    {
        int number = await StoryOverviewService.GetRandomNumber();
        _randomNumberMessage = $"Your random number is: {number}";
    }
}