@namespace TheCanalaveLibrary.Server
@using TheCanalaveLibrary.SharedUI
@inherits LayoutComponentBase

<div class="top-row px-4">
    <LoginDisplay />
</div>
@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">??</span>
</div>